#hero-main {
    width: 100%;
    height: 100vh;
    background: url(../../assets/img/dj-5.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

#hero-music {
    width: 100%;
    height: 100vh;
    background: url(../../assets/img/dj-4.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

#follow {
    width: 100%;
    height: 100vh;
    background: url(../../assets/img/crowd.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

#contact {
    width: 100%;
    height: 100vh;
}